extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/page-not-found.css")

block mainContent
    h1 Error : 404 :(
    h3 The page you are finding is no longer exist on the server...