<%- include('./includes/head') %>
<link rel="stylesheet" href="/css/page-not-found.css">
    </head>

    <body>
        <%- include('./includes/navigation')%>
            <h1>Error : 404 :(</h1>
            <h3>The page you are finding is no longer available on the server</h3>
<%- include('./includes/end') %>