<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/page-not-found.css">
</head>
<body>
    <header class="mainHeader">
        <nav class="mainHeader__nav">
            <ul class="mainHeader__item-list">
                <li class="mainHeader__item"><a href="/">Shop</a></li>
                <li class="mainHeader__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <h1>Error : 404 :(</h1>
    <h3>The page you are finding is no longer available on the server</h3>
</body>
</html>